/* Tags Gerais*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
    background-image: url(../img/fundo-topo.jpg);
    text-align: center;
    padding: 10px;
}

header h1 {
    height: 84px;
}

/*  Menu  */

nav {
    text-align: center;
    padding: 15px 0;
}

nav li {
    display: inline;
    background-image: url("../img/patinha-preta.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 27px;
    margin-right: 10px;
}

nav li a {
    text-decoration: none;
    color: #000;
}

nav a:hover {
    color: #6dd423;
}
form{
    width: 380px;
}
form input,
form textarea{
    width: 100%;
    border: 1px solid #6dd432;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
}
iframe{
    width: 100%;
}

/* Especifico */
#itemContato {
    background-image: none;
    padding-right: 0;
    margin-right: 0;
}

/* Classes */

.container {
    width: 900px;
    margin: 0 auto;
    padding: 56px 0;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.flex-container .col {
    width: 430px;
}

.fundo-verde {
    background-color: #bdff9c;
}

.produto {
    width: 235px;
    margin-top: 10px;
    margin-right: 30px;
}

.produto figure {
    border: 1px solid #c4c4c4;
    background-color: #fff;
    margin: 0px 20px 0px 0px;
    height: 160px;
    text-align: center;
    line-height: 160px;
}

.produto figure img{
    text-align: center;
}

.texto-centralizado{
    text-align: center;
    padding: 10px;
}

.btn-pata{
    border: 1px solid #91e467;
    background-color: #d2fbbd;
    text-align: none;
    display: inline-block;
    padding: 10px 20px;
    color:#000;
    border-radius: 5px;
}
/* fotter */
.footer {
    background-color: #6dd432;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer nav a:hover {
    color: #f6fa1e;
}